<ion-content class="ion-padding">
  <ion-grid class="bigGrid">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <div class="ion-text-center">
          <h3 class="ion-margin-bottom">Recuperar clave</h3>
        </div>
        <div class="ion-margin-bottom">
          <img src="./../../../assets/img/logoColores.png" alt="logo">
        </div>
 
        <form [formGroup]="credentials" (ngSubmit)="login()">
          <ion-item class="ion-margin-bottom">

            <ion-input type="username" placeholder="Nomre de usuario" formControlName="username"></ion-input>
            <ion-note slot="error" *ngIf="(username?.dirty || username?.touched) && username?.errors">Email no válido</ion-note>

          </ion-item>

      
          <ion-button expand="block" type="submit" [disabled]="!credentials.valid">Recuperar</ion-button>
        </form>
        <div class="ion-text-center">
          <p>¿No tienes cuenta? Crea una <a [routerLink]="['/register']">aquí</a></p>
        </div>
 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>