<ion-content class="ion-padding">
  <ion-grid class="bigGrid">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col class="">
        <div class="ion-text-center">
          <h1 class="ion-margin-bottom">Bienvenido a</h1>
          <div class="ion-margin-bottom">
            <img src="./../../../assets/img/City driver-rafiki.svg" alt="">
          </div>
          <div class="ion-margin-bottom">
            <img src="./../../../assets/img/logoColores.png" alt="logo">
          </div>
          <ion-button expand="block" [routerLink]="['/login']">Iniciar sesión</ion-button>
        </div>
        <div class="ion-text-center">
          <p>¿No tienes cuenta? Crea una <a [routerLink]="['/register']">aquí</a></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>